* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f4f7fd;
  --primary-font-color: #000000;
  --secondary-font-color: #828fa3;
  --primary-btn-color: #635fc7;
  --delete-btn-red: rgb(234, 85, 85);
  --todo-dot-color: #49c4e5;
  --doing-dot-color: #8471f2;
  --done-dot-color: #67e2ae;

  --nav-theme-background-color: #f4f7fd;
  --nav-theme-font-color: #635fc7;
}

.dark-mode {
  --primary-color: rgb(43, 44, 55);
  --secondary-color: rgb(32,33,44);
  --primary-font-color: #fff;

  --nav-theme-background-color: #635fc7;
  --nav-theme-font-color: #fff;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  display: flex; /*layout to span horizontally*/
  width: 100%;
  height: 100vh;
  background: var(--secondary-color);
  position: relative;
}

#loadingElement {
  position: fixed;
}

.nav-all-boards,
.todo-title,
.doing-title,
.done-title {
  font-size: 12px;
  letter-spacing: 2.4px;
  color: var(--secondary-font-color);
  text-transform: uppercase;
}


/* =========== Nav Section =========== */
.side-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px; /*Side-nav-bar gets a fixed width*/
  height: 100vh;
  overflow-y: auto; 
  border-right: 1px solid rgb(228, 235, 250); /*Grey divider between side-nav-bar and main-container */
  background-color: var(--primary-color);
}

.nav-logo-div {
  margin: 30px 113px 54px 34px; /* Space around kanban logo */
}

.nav-logo {
  width: 100%;
}

.nav-logo-dark {
  display: none;
}

.nav-boards-div {
  display: flex;
  flex-direction: column;
  color: var(--primary-font-color);
}

.nav-all-boards {
  padding: 0 12px 0 40px; /*Space around all boards title*/
}

.nav-toggle, .mobile-nav-toggle {
  font-family: inherit;
  font-weight: bold;
  border: none;
  font-size: 15px;
  color: #fff;
  display: flex;
  align-items: center; /*align launch title and toggle*/
  padding: 28px 12px 28px 40px; /*Space around launch title to align with All-boards title*/
  width: 276px;
  height: 48px;
  background: var(--primary-btn-color);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  cursor: pointer;
}

/*** Nav-bar interaction ***/
.nav-features-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

/* Theme-toggle */
.nav-theme-toggle-div {
  background: var(--nav-theme-background-color);
  width: 250px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 6px;
}

.nav-theme-toggle {
  -webkit-appearance: none; /* hide the default checkbox */
  -moz-appearance: none;
  appearance: none;
  position: relative; /* for circle inside toggle to be positioned relative to toggle*/
  width: 40px;
  height: 20px;
  border-radius: 25px;
  margin-top: 8px;
  background-color: rgb(0, 1, 18);
  cursor: pointer;
}

/* Cicle inside theme toggle */
.nav-theme-toggle::after {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 30%;
  height: 14px;
  width: 14px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: left .3s;
}

.nav-theme-toggle:checked {
  background-color: rgb(0, 1, 18);
}

.nav-theme-toggle:checked::after {
  left: 70%;
}

/* Show Sidebar */
.nav-eyes {
  background-color: rgb(168, 164, 255);
  width: 56px;
  height: 48px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-left: 10px;
  padding-top: 15px;
  display: none; /* Hide when sidebar shows */
  position: absolute;
  z-index: 2000;
  top: 90%;
  cursor: pointer;
}

/* Hide Sidebar */
.nav-hide {
  font-family: inherit;
  color: var(--nav-theme-font-color);
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 276px;
  height: 48px;
  background: var(--nav-theme-background-color);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-bottom: 15px;
  cursor: pointer;
}


/* =========== Main Layout =========== */
.main-layout-container {
  flex: 1; /*Allows main-layout to fill remain space of body*/
  overflow-x: hidden; /*Prevent horizontal scroll*/
}


/* =========== Header Section =========== */
.launch-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px 0 30px;
  color: var(--primary-font-color);
  background-color: var(--primary-color);
  height: 97px;
  border-bottom: 1px solid rgb(228, 235, 250);
}

.launch-header-div {
  display: flex;
  align-items: center;
}

.favicon-mobile {
  width: 30px;
  height: 30px;
  margin-right: 10px; /*Space between favicon and launch title*/
  display: none; /*Favicon hidden on desktop screens*/
  cursor: pointer;
}


/* =========== Card grid =========== */
.loader {
  color: var(--primary-font-color);
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 52%; 
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 1000;
}

.loader::after {
  content: "";
  display: block;
  margin: 5px auto;
  width: 24px;
  height: 24px;
  border: 4px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
 @keyframes spin {
  to { transform: rotate(360deg); 
  }
}

.main-tasks-container {
  display: flex;
  flex-direction: column; 
  padding-left: 35px;
  padding-right: 20px;
}

.tasks-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 304px)); /*3 columns with max size*/
  gap: 20px; /*Space between columns*/
}

.column-div {
  display: flex;
  flex-direction: column;
  flex: 1; 
  gap: 20px; /*gap between todo, doing, done status and top cards*/
}


/* =========== TODO, Doing, Done status =========== */
.todo-status,
.doing-status,
.done-status {
  display: flex;
  width: 120px;
  justify-content: space-between;
  margin-top: 20px;
}

.todo-title,
.doing-title,
.done-title {
  width: 90px;
  margin: 0 auto;
}

.todo-dot,
.doing-dot,
.done-dot {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: auto;
}

.todo-dot {
  background-color: var(--todo-dot-color);
}

.doing-dot {
  background-color: var(--doing-dot-color);
}

.done-dot {
  background-color: var(--done-dot-color);
}


/* =========== Task Cards =========== */
.task-div {
  color: var(--primary-font-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center; /*center task titles in center of card*/
  padding-left: 15px;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* Styling for priority dot So the dot can be positioned inside*/
  position: relative;  
}

/* =========== Modal styles =========== */
/* Remove default dialog styles */
dialog {
  position: fixed;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

/*** Style the modal background ***/
/* Task modal heading */
h3 {
  color: var(--primary-font-color);
}

#task-status, #addtask-status, #add-priority, #priority {
  background-color: #ffffff;
}

#task-modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

#task-modal {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  padding: 24px;
  background-color: var(--primary-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
  font-size: 1.125rem;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2.5rem;
  line-height: 1;
  cursor: pointer;
  color: #ea5555;
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
  transition-delay: 0.1s; /* Delay before scaling */
}

.close-btn:hover {
  transform: scale(1.15);
  font-weight: 600;
}

.close-btn:focus {
  outline: none;
}

/* Form elements */
form label {
  display: block;
  font-weight: 600;
  font-size: 0.75rem;
  margin-top: 12px;
  margin-bottom: 4px;
  color: var(--secondary-font-color);
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid var(--secondary-font-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: 0.8125em;
  resize: vertical; /* Limits description inputs to only resize vertically (not horizontally) */
}

form select {
  appearance: none; /* Remove native arrow */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23828FA3" stroke-width="3" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>')
    no-repeat right 0.75rem center;
  background-size: 1.4rem;
  padding-right: 1rem;
  cursor: pointer;
}

#btn-addnewtask {
  font-family: inherit;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 100px;
  width: 164px;
  height: 48px;
  color: #fff;
  background: var(--primary-btn-color);
  cursor: pointer;
}

/***** New task Modal ******/
#addtask-modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

#addtask-modal {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.addtask-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  padding: 24px;
  gap: 20px;
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  z-index: 3;
  transition: all 0.3s ease-in;
}

.btn-create-task {
  background-color: var(--primary-btn-color);
  color: #ffffff;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  padding: 14px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 600;
  cursor: pointer;
  flex-grow: 1; /* Allows the button to grow and fill the space */
}

textarea {
  font-size: 16px;
  color: #000000;
  height: 90px;
  padding: 10px;
  border-radius: 4px;
  resize: vertical;
}

/* Save and delete buttons on each task modal */
.btn-div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.save-btn, .delete-btn {
  margin-top: 30px;
  background-color: var(--primary-btn-color);
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-family: inherit;
  font-size: 0.8em;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.delete-btn {
  background-color: var(--delete-btn-red);
}

/* Delete confirmation modal */
#deletion-message::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

#deletion-message {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.delete-message-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 35px;
  color: var(--primary-font-color);
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  z-index: 10;
}

.btn-delete-confirm, .btn-delete-cancel {
  margin-top: 10px;
  background-color: #828fa3;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-family: inherit;
  font-size: 0.8em;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.btn-delete-confirm {
  background-color: var(--delete-btn-red);
}

/* Mobile nav-bar menu */
.nav-bar-mobile-menu {
  top: 13%;
  left: 5%;
  border-radius: 8px;
  width: 90%;
  height: 210px;
  padding: 24px;
  padding-left: 0;
  background-color: var(--primary-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 2;
  display: none;
}

.mobile-all-boards-div {
  display: flex;
  justify-content: space-between;
}

.mobile-nav-toggle {
  width: 95%;
}

.mobile-nav-theme-toggle-div {
  background: var(--nav-theme-background-color);
  width: 85%;
  height: 48px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10%;
  border-radius: 6px;
}

.theme-container-flex {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Mobile modal background */
.mobile-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}

.main-layout-container-mobile {
    position: relative;
  }

.launch-header-mobile {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 2;
}

/** Priority dots **/
.priority-dot {
  position: absolute;
  top: 38%;
  right: 2%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* high, medium, low choices */
.priority-dot.high {
  background: linear-gradient(
    180deg,
    rgb(252, 172, 154),
    rgb(199, 20, 4)
  );
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgb(199, 20, 4);
}

.priority-dot.medium {
  background: linear-gradient(
    180deg,
    rgb(252, 178, 124),
    rgb(189, 83, 2)
  );
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgb(189, 83, 2);
}

.priority-dot.low {
  background: linear-gradient(
    180deg,
    rgb(152, 250, 110),
    rgb(38, 122, 2)
  );
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgb(38, 122, 2);
}



/* =========== Responsive styles =========== */
@media (max-width: 1023px) {
  .side-nav-bar {
    display: none; /* Hide side-nav-bar tablets and smaller screens*/
  }

  .nav-eyes {
    display: none !important;
  }

  .favicon-mobile {
    display: block;
  }

  .main-tasks-container {
    align-items: center; /*Ensures columns centered horizontally on smaller screens*/
    padding: 0;
    width: 100%;
  }

  .tasks-grid {
    grid-template-columns: repeat(2, minmax(0, 360px));
    gap: 0;
  }

  .column-div {
    padding: 24px; /*Ensures card columns are not tight against each other*/
  }

  .todo {
    padding-bottom: 10px;
  }

   .doing {
    padding-left: 10px; /*Removes double spacing between todo and doing columns*/
  }

   .done {
    padding-top: 0; /*Removes double spacing between todo and done columns*/
  }

  .loader {
    top: 50%;
    left: 45%; 
  }
}

@media (max-width: 580px) {
  .favicon-mobile {
    display: block;
  }

  .nav-eyes {
    display: none !important;
  }

  .launch-title {
    display: none;
  }

  #btn-addnewtask {
    font-size: 0; /* remove text content of add new task button */
    padding: 12px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
  }

  #btn-addnewtask::before {
    content: "+"; /* replace content of add new task button with + */
    font-size: 18px;
    font-weight: 800; 
  }

  
  .tasks-grid {
    grid-template-columns: minmax(0, 380px); /*Stack columns in a single column on mobile view*/
  }

  .column-div {
    padding: 24px; /*Ensures card columns are not tight against each other*/
  }

  .todo, .doing, .done {
    padding-bottom: 0; /*Removes double spacing between todo and doing, doing and done columns*/
  }

  .btn-div {
    flex-direction: column;
    gap: 15px;
  }

  .delete-btn {
    margin-top: 0;
  }

  .loader {
    top: 50%;
    left: 40%; 
    
  }
}